/* *字号代表所有标签继承{}内的属性 */
* {
	/*
	边界设置为0
	留白设置为0
	文字大小设置为12px像素
	文字行高 1.2px像素
	*/
    margin:0;
    padding:0;
    font-size:12px;
    line-height:1.2px; /*行高*/
}

html{
	/*设置黑色背景*/
    background:#000;
}

body{
	/*
	宽度设为465px像素
	高度设为465px像素
	控制卷轴设为隐藏
	*/
    /* width:465px;
    height:465px; */
    /* overflow:hidden; */
}


/* 游戏背景 */
#game{
	/*
	排版position位置设为relative相对位置
	background-position背景位置(x, y)都设为0px
	background-repeat背景重复设为no-repeat不重复
	auto为自动预设
	*/
    position:relative;
    width:500px;
    height:375px;
    overflow:hidden;
    /* margin:40px auto 0; */
    background-image: url(img/gophers-Slice-bg.jpg);
    /* background-position:0px 0px; */
    background-repeat:no-repeat;
    
}

/* 鼠标设置 */
*{
    -webkit-user-select:none; /*不让鼠标选中文本（禁用复制功能）*/
    -moz-user-select:none;
}


/* 游戏结束背景 */
#gameover{
	/*
	position位置设为 absolute绝对位置
	top上0px
	left左0px
	background背景的rgba(r,g,b,a)都设为0,0,0,0.5半透明
	-webkit-animation-name动画名为gameover
	-webkit-animation-timing-function动画特效为linear线性
	-webkit-animation-duration动画播放所需时间设为13s 13秒
	-webkit-animation-delay动画播放延迟时间设为0.5s 0.5秒
	z-index Z轴图层设置为20;
	opacity透明度设置为1不透明
	*/
    position:absolute;
    width:500px;
    height:375px;
    /* background:rgba(0,0,0,0.5); */
    animation-name:gameover;
     animation-timing-function:linear;
    animation-duration:13.5s;
    /* -webkit-animation-delay:0.5s; */
    z-index:20;
    background-position:0px 0px;
    background-repeat:no-repeat;
    opacity:0.8;
    
}


/* 动画 游戏结束画面 */
@-webkit-keyframes gameover{
	/*
	%数为动画的时间轴长度百分比
	*/
      0% {top:-465px; opacity:1;}
      95% {top:-465px; opacity:1;}
    100% {top:0px; opacity:0.8;}
}


/* 时间条背景 */
#timer{
    position:absolute;
    top: 25px;
    left: 31px;
    z-index:10;
    width:309px;
    height:50px;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

/* 时间条 */
#progress{
    position:absolute;
    top:7px;
    left:114px;
    width:170px;
    height:36px;
    background-position:0px 0px;
    background-repeat:repeat-x;
    -webkit-animation-name:progress;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:13s;
    /* -webkit-animation-delay:0.5s; */
}

/* 动画 时间条 */
@-webkit-keyframes progress{
	/*
	照着12.5秒时间变长
	*/
      0% {width:0px;}
    100% {width:170px;}
}
/* 绘制整个地鼠区域 */
.enemyall{
    position: absolute;
    top: 142px;
    left: 77px;
    width: 412px;
    height: 224px;
    overflow: hidden;
}
/* 土拨鼠 显示区域 */
.enemy1{
    position: absolute;
    top: 10px;
    left: 42px;
    width: 90px;
    height: 100px;
    overflow: hidden;
}
.enemy2{
    position: absolute;
    top: 10px;
    left: 185px;
    width: 90px;
    height: 100px;
    overflow: hidden;
}
.enemy3{
    position: absolute;
    top: 10px;
    left: 330px;
    width: 90px;
    height: 100px;
    overflow: hidden;
}
.enemy4{
    position: absolute;
    top: 52px;
    left: 100px;
    width: 90px;
    height: 100px;
    overflow: hidden;
}
.enemy5{
    position: absolute;
    top: 56px;
    left: 257px;
    width: 90px;
    height: 100px;
    overflow: hidden;
}
.enemy6{
    position: absolute;
    top: 106px;
    left: -2px;
    width: 90px;
    height: 100px;
    overflow: hidden;
}
.enemy7{
    position: absolute;
    top: 115px;
    left: 164px;    
    width: 90px;
    height: 100px;
    overflow: hidden;
}
.enemy8{
    position: absolute;
    top: 120px;
    left: 312px;
    width: 90px;
    height: 100px;
    overflow: hidden;
}
/* .enemy9{
    position: absolute;
    top: 10px;
    left: 42px;
    width: 90px;
    height: 100px;
    overflow: hidden;
}
.enemy10{
    position: absolute;
    top: 10px;
    left: 42px;
    width: 90px;
    height: 100px;
    overflow: hidden;
} */

/* 绘制土拨鼠 */
.enemys{
	/*
	display显示设为 block区块
	-webkit-appearance和-moz-appearance 接口元素设为button按钮
	-webkit-animation-iteration-count动画播放次数设为infinite无限次
	cursor鼠标显示设为pointer手;
        透明度opacity为0.9，（1.0为不透明）
	border框线设为none无
	outline外框线设为none无;
	*/
    z-index:3;
    position:absolute;
    top:100px; left:22px;
    width:49px;
    height:49px;
    display:block;
    -webkit-appearance:button;
    /* 火狐-moz */
    -moz-appearance:button;
    background-position:0px 0px;
    background-repeat:no-repeat;
    -webkit-animation-iteration-count:infinite;
    cursor:url("img/hammer.png"),auto;
    opacity:0.9;
    border:none;
    outline:none;
}

/* 土拨鼠出现起始位置 */
/*
1和6同样的出现位置 
2和7同样的出现位置
3和8同样的出现位置
4和9同样的出现位置
5和10同样的出现位置
*/
/* .enemys#enemy_1 {top:100px; left:22px;}
.enemys#enemy_2 {top:100px; left:22px;}
.enemys#enemy_3 {top:100px; left:22px;}
.enemys#enemy_4 {top:100px; left:22px;}
.enemys#enemy_5 {top:100px; left:22px;}
.enemys#enemy_6 {top:100px; left:22px;}
.enemys#enemy_7 {top:100px; left:22px;}
.enemys#enemy_8 {top:100px; left:22px;}
.enemys#enemy_9 {top:100px; left:22px;}
.enemys#enemy_10{top:100px; left:22px;} */

/* 土拨鼠死掉时 */
.enemys:checked{
	/*
	-webkit-animation-name动画名设为none无	
    -webkit-pointer-events和pointer-events按键事件都设为none无;
	*/
    overflow:hidden;
    -webkit-animation-name:none;
    -webkit-pointer-events:none;
    pointer-events:none;
    opacity:0;
}

/* 鼠标滑在土拨鼠上时 */
.enemys:hover{	
	opacity:1;
}





/* 绘制记分板 */
#score_board{
    position:absolute;
    top: -6px;
    left: 337px;
    width:157px;
    height:105px;
    z-index:10;
    background-position:0px 0px;
    background-repeat:no-repeat;	
}

/* 分数 显示区域 */
#score_wrap{
  position: absolute;
  top:23px;
  top:22px;
  left:25px;
  width: 111px;
  height: 63.5px;
  overflow: hidden;
}

/* 绘制分数数字 */
#score_11{
    position:relative;
    display:block;
    width: 111px;
    height: 694px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

/* 分数起始位置 */
#score{
  position: absolute;
  top: -640px;
  left:0;
  width: 111px;
  height: 694px;
}

/* 动画 跳分数 */
.score{
	/*
	-webkit-transition动画移动设为.1s linear 0.1秒线性移动
	height每次移动的高度设为63.5px 63.5像素位置
	*/
    position:relative;
    display:block;
    width:111px;
    height:63.5px;
    background-color:transparent;
    -webkit-appearance:button;
    -moz-appearance:button;
    -webkit-transition:.1s linear;
}

/* 分数归零 */
.score:checked{
    position:absolute;
    top:0px;
    height:0px;
}





/* 绘制土拨鼠被打时的特效 */

.effect {
    position:absolute;
    z-index:21;
    width: 106px;
    height: 98px;
    -webkit-pointer-events: none;
    pointer-events: none;
    background-position:0px 0px;
    background-repeat:no-repeat;
    opacity:0;
    left:0;
    top:0;
}

/* 设置特效动画播放 */
.enemys:checked + .effect{
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-direction: normal;
}

/* 设置各土拨鼠死亡时 不同的特效动画 */
#enemy_1:checked  + .effect,
#enemy_2:checked  + .effect,
#enemy_3:checked  + .effect,
#enemy_4:checked  + .effect,
#enemy_5:checked  + .effect{
  -webkit-animation-name:effect1;
}
#enemy_6:checked  + .effect,
#enemy_7:checked  + .effect,
#enemy_8:checked  + .effect,
#enemy_9:checked  + .effect,
#enemy_10:checked + .effect{
  -webkit-animation-name:effect2;
}

/* 动画 特效淡入淡出 */
@-webkit-keyframes effect1{
	/*
	-webkit-transform 动画移动设置
	translateX(0px) 预移动X位置(该像素位置值)
	translateY(0px) 预移动Y位置(该像素位置值)
	*/
      0% { -webkit-transform: translateX(0px) translateY(0px); opacity:0;}
     30% { -webkit-transform: translateX(-10px) translateY(-10px); opacity:1;}
     80% { -webkit-transform: translateX(-10px) translateY(-10px); opacity:1;}
    100% { -webkit-transform: translateX(0px) translateY(0px); opacity:0;}
}

@-webkit-keyframes effect2{
      0% { -webkit-transform: translateX(0px) translateY(0px); opacity:0;}
     30% { -webkit-transform: translateX(10px) translateY(-10px); opacity:1;}
     80% { -webkit-transform: translateX(10px) translateY(-10px); opacity:1;}
    100% { -webkit-transform: translateX(0px) translateY(0px); opacity:0;}
}


/* 动画 土拨鼠1的动画AI设置 */
@-webkit-keyframes enemy_1{
	/*
	隐藏全身位置设为 0px
	露出半身位置设为 -25px
	全身出现位置设为 -50px
	*/
      0% {-webkit-transform:translateY(0px);}
      40% {-webkit-transform:translateY(-50px);}
     50% {-webkit-transform:translateY(-50px);}
     90% {-webkit-transform:translateY(-50px);}
    100% {-webkit-transform:translateY(0px);}
}

/* 设置土拨鼠1的动画播放 */
#enemy_1{
    -webkit-animation-name:enemy_1;
    -webkit-animation-duration:2s;
    -webkit-animation-delay:0s;
}

/* 动画 土拨鼠2的动画AI设置 */
@-webkit-keyframes enemy_2{
    0% {-webkit-transform:translateY(0px);}
    40% {-webkit-transform:translateY(-50px);}
   50% {-webkit-transform:translateY(-50px);}
   90% {-webkit-transform:translateY(-50px);}
  100% {-webkit-transform:translateY(0px);}
}

/* 设置土拨鼠2的动画播放 */
#enemy_2{
    -webkit-animation-name:enemy_2;
    -webkit-animation-duration:3s;
    -webkit-animation-delay:0s;
}

/* 动画 土拨鼠3的动画AI设置 */
@-webkit-keyframes enemy_3{
    0% {-webkit-transform:translateY(0px);}
    40% {-webkit-transform:translateY(-50px);}
   50% {-webkit-transform:translateY(-50px);}
   90% {-webkit-transform:translateY(-50px);}
  100% {-webkit-transform:translateY(0px);}
}

/* 设置土拨鼠3的动画播放 */
#enemy_3{
    -webkit-animation-name:enemy_3;
    -webkit-animation-duration:3s;
    -webkit-animation-delay:1.5s;
}

/* 动画 土拨鼠4的动画AI设置 */
@-webkit-keyframes enemy_4{
    0% {-webkit-transform:translateY(0px);}
    40% {-webkit-transform:translateY(-50px);}
   50% {-webkit-transform:translateY(-50px);}
   90% {-webkit-transform:translateY(-50px);}
  100% {-webkit-transform:translateY(0px);}
}

/* 设置土拨鼠4的动画播放 */
#enemy_4{
    -webkit-animation-name:enemy_4;
    -webkit-animation-duration:4s;
    -webkit-animation-delay:1s;
}

/* 动画 土拨鼠5的动画AI设置 */
@-webkit-keyframes enemy_5{
    0% {-webkit-transform:translateY(0px);}
    40% {-webkit-transform:translateY(-50px);}
   50% {-webkit-transform:translateY(-50px);}
   90% {-webkit-transform:translateY(-50px);}
  100% {-webkit-transform:translateY(0px);}
}

/* 设置土拨鼠3的动画播放 */
#enemy_5{
    -webkit-animation-name:enemy_5;
    -webkit-animation-duration:3s;
    -webkit-animation-delay:2s;
}

/* 动画 土拨鼠6的动画AI设置 */
@-webkit-keyframes enemy_6{
    0% {-webkit-transform:translateY(0px);}
    40% {-webkit-transform:translateY(-50px);}
   50% {-webkit-transform:translateY(-50px);}
   90% {-webkit-transform:translateY(-50px);}
  100% {-webkit-transform:translateY(0px);}
}

/* 设置土拨鼠6的动画播放 */
#enemy_6{
    -webkit-animation-name:enemy_6;
    -webkit-animation-duration:0.5s;
    -webkit-animation-delay:2s;
}

/* 动画 土拨鼠7的动画AI设置 */
@-webkit-keyframes enemy_7{
    0% {-webkit-transform:translateY(0px);}
    40% {-webkit-transform:translateY(-50px);}
   50% {-webkit-transform:translateY(-50px);}
   90% {-webkit-transform:translateY(-50px);}
  100% {-webkit-transform:translateY(0px);}
}

/* 设置土拨鼠7的动画播放 */
#enemy_7{
    -webkit-animation-name:enemy_7;
    -webkit-animation-duration:3.5s;
    -webkit-animation-delay:4s;
}

/* 动画 土拨鼠8的动画AI设置 */
@-webkit-keyframes enemy_8{
    0% {-webkit-transform:translateY(0px);}
    40% {-webkit-transform:translateY(-50px);}
   50% {-webkit-transform:translateY(-50px);}
   90% {-webkit-transform:translateY(-50px);}
  100% {-webkit-transform:translateY(0px);}
}

/* 设置土拨鼠8的动画播放 */
#enemy_8{
    -webkit-animation-name:enemy_8;
    -webkit-animation-duration:3s;
    -webkit-animation-delay:5s;
}

/* 动画 土拨鼠9的动画AI设置 */
@-webkit-keyframes enemy_9{
    0% {-webkit-transform:translateY(0px);}
    40% {-webkit-transform:translateY(-50px);}
   50% {-webkit-transform:translateY(-50px);}
   90% {-webkit-transform:translateY(-50px);}
  100% {-webkit-transform:translateY(0px);}
}

/* 设置土拨鼠9的动画播放 */
/* #enemy_9{
    -webkit-animation-name:enemy_9;
    -webkit-animation-duration:10s;
    -webkit-animation-delay:2s;
} */

/* 动画 土拨鼠10的动画AI设置 */
@-webkit-keyframes enemy_10{
    0% {-webkit-transform:translateY(0px);}
    40% {-webkit-transform:translateY(-50px);}
   50% {-webkit-transform:translateY(-50px);}
   90% {-webkit-transform:translateY(-50px);}
  100% {-webkit-transform:translateY(0px);}
}

/* 设置土拨鼠10的动画播放 */
/* #enemy_10{
    -webkit-animation-name:enemy_10;
    -webkit-animation-duration:10s;
    -webkit-animation-delay:1s;
} */


/* 指定游戏结束时显示的背景图像所对应的该图像文件存放的路径 */
#gameover{
    background-image: url(img/gophers-Slice_Gameover.jpg);
}
	
/* 指定游戏场景图像所对应的该图像文件存放的路径
#game{
	background-image: url(img/gophers-Slice_Background.png);
} */
	
/* 指定时间条背景图像所对应的该图像文件存放的路径 */
#timer{
    background-image: url(img/gophers-Slice_Timeboard.png);
}

/* 指定时间条图像所对应的该图像文件存放的路径 */	
#progress{
    background-image: url(img/gophers-Slice_time-line.png);
}
	
/* 地鼠 1 7 8 9 10 的图像文件所存放的路径 */
.enemys#enemy_1,.enemys#enemy_7,.enemys#enemy_8,.enemys#enemy_9,.enemys#enemy_10{
    background-image: url(img/gophers-1.png);
}

/* 土拨鼠2的图像文件所存放的路径 */
.enemys#enemy_2{
    background-image: url(img/gophers-2.png);
}

/* 土拨鼠3的图像文件所存放的路径 */
.enemys#enemy_3{
    background-image: url(img/gophers-3.png);
}

/* 土拨鼠4的图像文件所存放的路径 */
.enemys#enemy_4{
    background-image: url(img/gophers-4.png);
}

/* 土拨鼠5的图像文件所存放的路径 */
.enemys#enemy_5{
    background-image: url(img/gophers-5.png);
}

/* 土拨鼠6的图像文件所存放的路径 */
.enemys#enemy_6{
    background-image: url(img/gophres-6.png);
}

/* 土堆的图像文件所存放的路径 */
#mound{
    background-image: url(img/gophers-Slice_Mound.png);
}

/* 记分板的图像文件所存放的路径 */
#score_board{
    background-image: url(img/gophers-Slice_Scoreboard.png);
}
	
/* 分数的图像文件所存放的路径 */	
#score_11{
    background-image: url(img/gophers-Slice_Score-2.png);
}
	
/* 特效的图像文件所存放的路径 */
.effect {
    background-image: url(img/gophers-Slice_Boom.png);
}	